<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aafent.runasp.net/FASTFileRepository/swagger/index.html</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f98897e5-5b21-04f7-edf5-d4df427d0d30</ProjectGuid>
    <MSDeployServiceURL>site69993.siteasp.net</MSDeployServiceURL>
    <!-- Publish into the FASTFileRepository subfolder under the site -->
    <DeployIisAppPath>site69993/FASTGate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>site69993</UserName>
    <_SavePWD>true</_SavePWD>
    <!-- Force publish to the project's intended runtime/framework to avoid multi-TFM ambiguity -->
    <TargetFramework>net8.0</TargetFramework>
    <PublishFramework>net8.0</PublishFramework>
    <!-- Publish as framework-dependent by default for shared hosting -->
    <ExcludeFilesFromDeployment>appsettings.json</ExcludeFilesFromDeployment>
    <SelfContained>false</SelfContained>
    <RetryAttemptsForDeployment>20</RetryAttemptsForDeployment>
    <MSDeployUseChecksum>false</MSDeployUseChecksum>
  </PropertyGroup>
</Project>